<div class="container-fluid bg" style="background-image: url('../assets/img/login1.jpg');" >
  <div class="row">
    <div class= "col-md-4 col-sm-4 col-xs-12"></div>
    <div class= "col-md-4 col-sm-4 col-xs-12">
  <section class="col-4 mx-auto">
    <!--<div class="alert alert-danger">
      You are not Authenticate/Authorized to accesss
    </div>-->
    <h2 class="text-center"><b>Login</b></h2>
    <div *ngIf="storageservice.msg != undefined" class="alert alert-warning">{{storageservice.msg}}</div>
    <form #frm="ngForm" (ngSubmit)="doLogin()">
      <div class="fields text-start"><b>User Id</b></div>
      <div><input type="text" name="txtname" [(ngModel)]="login.userId" #loginuid="ngModel" required
          class="form-control" /></div><br>
      <div class="alert alert-danger" *ngIf="loginuid.invalid && loginuid.touched">UserId is Required</div>
  
      <div class="fields text-start"><b>Password</b></div>
      <div><input type="password" name="txtpwd" [(ngModel)]="login.password" #loginpwd="ngModel" required
          class="form-control" /></div><br>
      <div class="alert alert-danger" *ngIf="loginpwd.invalid && loginpwd.touched">Password is required</div>
  
      <div class="m-2"><input type="submit" class="btn btn-primary btn-block" value="Login" [disabled]="!frm.valid"></div>
      <p>Don't have an account? <a routerLink="register">Register Here!</a></p>
    </form>
  </section>
  <div class= "col-md-4 col-sm-4 col-xs-12"></div>
</div>
</div>
      
     